*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div > img{
    height: 150px;
    width: 150px;
    
}

.seccionInicio{
    height: 60vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px

}


.compruebaBlock{
    display: flex;

}

#seccionJuego{
    height: 40vh;
    background-color: rgb(0, 255, 34);
    display: flex;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: center;
    padding-top: 15px;
    gap: 20px
}

#hasGanado{
    height: 40vh;
    background-color: aqua;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

#hasPerdido{
    height: 40vh;
    background-color: rgb(0, 255, 34);
    display: none;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: center;
    justify-content: center;
    gap: 20px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}